:root {
    height: 100%;
    width: 100%;
    font-family: helvetica, sans-serif;
    --default-color: rgb(218, 107, 16);
    --hover-color: rgb(173, 90, 21);
    --active-color: rgb(160, 87, 28);
}

* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid: auto-flow / 2fr 4fr 1fr;
    margin: auto;
    width: 60%;
    height: 100%;
}

.side-panel {
    padding: 1rem;
    background: white;
}

.align-center {
    text-align: center;
}

.content {
    background: rgb(246, 246, 246);
    box-shadow: 0 0 5px 0px rgba(97, 97, 97, 0.75);
    z-index: 1;
}

.message-panel {
    width: 100%;
}

.username {
    color: var(--default-color);
    font-weight: 900;
    font-size: 2rem;
}

a {
    color: var(--default-color);
}

textarea {
    font-size: 1rem;
    font-family: sans-serif;
}

.message-textarea {
    padding: 0.5rem;
    width: 100%;
}

.message {
    padding: 1em;
    background: rgb(246, 246, 246);
    box-shadow: 0 0 5px 0px rgba(97, 97, 97, 0.75);
    margin: 0.6rem;
    margin-bottom: 1em;
}

.message-align-right {
    width: 100%;
    text-align: right;
}

.delete {
    margin: 0.5em;
    color: red;
}

input[type="submit"], button {
    border: none;
    float: right;
    font-size: 1.5rem;
    color: white;
    background: var(--default-color);
    padding: 0.2rem;
    margin: 0.2rem;
    border-radius: 0.2rem;
    transition: 50ms;
    padding-left: 0.8em;
    padding-right: 0.8em;
    width: min-content;
}

input[type="submit"]:hover, button:hover {
    background: var(--hover-color);
}

input[type="submit"]:active, button:active {
    background: var(--active-color);
}

.profile {
    width: 100%;
    padding: 0.5em;
     /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.profile .username {
    text-align: center;
    margin: auto;
}

.profile .bio {
    width: calc(100% - 5em);
    height: 8em;
    padding: 2em;
    padding-top: 0.5em;
    padding-bottom: 0;
}

.profile form {
    display: flex;
    flex-direction: column;
    height: calc(100% - 1rem);
}

.profile .bio-textarea {
    width: 100%;
    flex: auto;
}